[Unit]
Description=Meshtastic Web Chat
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=meshtastic
Group=meshtastic
WorkingDirectory=/home/meshtastic/meshtastic_webchat
Environment="PATH=/home/meshtastic/meshtastic_webchat/.venv/bin"
ExecStart=/home/meshtastic/meshtastic_webchat/.venv/bin/python /home/meshtastic/meshtastic_webchat/app.py --config /home/meshtastic/meshtastic_webchat/app_config.json
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
